@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100vh;
}

html{
  font-size: 62.5%;
}

body{
  background-color: #F2F2F2;
}

main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main button{
  width: 12rem;
  height: 4rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  border: 0;
  transition: all ease 0.3s;
  cursor: pointer;
  background-color: #121212;
  color: #F2F2F2;
}

main button:hover{
  border: 0.1rem solid #121212;
  background-color: transparent;
  color: #121212;
}

main .response{
  width: 60rem;
  height: 40rem;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

main .response ul li{
  font-size: 1.6rem;
  color: #121212;
}

main .response p{
  font-size: 1.6rem;
  color: #121212;
}